@media(max-width:1200px) {
    .wrapper {
        max-width: 1100px;
    }
}

@media(max-width:1100px) {
    .wrapper {
        max-width: 1000px;
    }
    .modal-content {
        width: 60%;
    }
}

@media(max-width:1000px) {
    .wrapper {
        max-width: 900px;
    }
    .nav {
        display: none;
    }
    .header__wrapper-mobile {
        visibility: visible;
    }
    .nav-mobile {
        visibility: visible;
    }
    .main-wrapper-top__img {
        margin-right: 0px;
    }
    .main-wrapper-midl__img {
        margin-right: 30px;
    }
    .footer-wrapper-left-img {
        justify-content: start;
    }
    
}
@media(max-width:900px) {
    .wrapper {
        max-width: 750px;
    }
}

@media(max-width:750px) {
    .wrapper {
        width: 90%;
    }
    .main-wrapper-top {
        flex-flow: column-reverse wrap;
    }
    .main-text-left {
        width: 120%;
    }
    .main-wrapper-top__img img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    .main-wrapper-midl {
        flex-flow: column wrap;
    }
    .main-wrapper-midl__tabs {
        width: 90%;
    }
    .main-wrapper-midl__tabs {
        margin-top: 45px;
    }
    .modal-content {
        width: 90%;
    }
}
@media(max-width:600px) {
    .wrapper {
        max-width: 450px;
    }
    .wraps-f {
        justify-content: space-between;
    }
}

@media(max-width:450px) {
    .wraps-f {
        flex-flow: column wrap;
    }
    .footer-wrapper-left {
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width:390px) {
    .header__wrapper {
        height: 130px;
        flex-flow: column wrap;
        margin-bottom: 30px;
    }
}